---
layout: default
title: Cartographic Portfolio
subtitle: Digital Maps Portfolio
---
{% include header.html type="page" %}
<div class="row">
    <div class="col-md-6"><br>
        <img src="/assets/img/smoky-mountains-trout-streams.png" alt="Image">
    </div>
    <div class="col-md-6">
        <h2><a target='_self' href="https://markcruse.github.io/smoky-mountains-trout-streams/">Great Smoky Mountains
                Trout Streams</a></h2>
        <p>The map shows the distribution of various species of trout in the Great Smoky Mountains National Park.
            Streams are identifiable when hovering over the stream with the mouse pointer. The popup info box displays
            stream name, fish type(s) present, the elevation of the stream, the watershed, park district, and state.
            Nearby trail names and parking areas become visible upon zooming in on portions of the map.<br />
            <br />Data source: <a target='_blank' href="https://grsm-nps.opendata.arcgis.com/">National Park Service -
                Great Smoky Mountains</a>
            <br />The map was created using html, javascript, and Leaflet. </p>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12"><br>
        <img src="/assets/img/white-christmas-880-600.png" alt="Image">
    </div>
    <div class="col-md-12">
        <h2><a target='_self' href="https://markcruse.github.io/white-christmas/">Probability of a White
                Christmas</a></h2>
        <p>A heatmap utilizing historical climate data to show what areas of the U.S. are most likely to have a white
            Christmas.<br />
            <br />Data source: <a target='_blank'
                href="https://journals.ametsoc.org/doi/abs/10.1175/BAMS-D-15-00038.1">White
                Christmas? An Application of NOAA’s 1981–2010 Daily Normals</a>
            <br /><br />The map was created using html, javascript, and Mapbox GL JS. </p><br />
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-6">
        <img src="/assets/img/output_15_0.png" alt="Image">
    </div>
    <div class="col-md-6">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus mauris sed felis fermentum, ut
            dignissim mi commodo. Nullam accumsan ipsum a metus auctor mollis. Sed malesuada urna ac sem pellentesque,
            nec auctor dui interdum. Vivamus eget risus mi. Phasellus a eros vitae justo commodo commodo. Sed sagittis
            tristique efficitur. Proin eleifend urna ut aliquet consequat.</p>
    </div>
</div>